body{
	background-image: url(../img/body.png);
	background-repeat:repeat;
	font-family: "ו";
}
#header{
	float:left;
	height: 95px;
	width: 100%;
	background-image:url(../img/header.png);
	background-repeat:repeat-x;
	
}
#header span{
	width:80px;
	height: 80px;
	float:left;
	margin-left: 20px;;
}
#header p{
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
	color:white;
}
#main{
	width:100%;
	height: 475px;
}
#main #menubar{
	float:left;
	background-color: #7bbfea;
	width:100%;
	height: 25px;
	
}
#main #menubar span{
	font-size: x-small;
}
#menubar marquee{
	margin-left:320px;
}
#left{
	width: 18%;
	height: 450px;
	float:left;
	background-color:#fcfcfc;
}
#left #menu ul{
    margin: 0px;
    padding: 0px;
}
#menu ul li{
    width:200px;
    list-style: none;
    background-image: url(../img/menu_li.png);
    height: 26px;
    margin-left:20px;
    margin-top: 7px;
    text-align: center;
    border-radius:0px 11px 11px 0px;
}
a{
    font-size: 13px;
    color: black;
    text-decoration: none;
}
a:hover{         
    font-size: 14px;
}
#center{
	border-width: 0px 1px 0px 1px;
	border:solid;
	width: 64%;
	height:450px;
	float:left;
	background-color: #FFF;
}
#right{
	width:17%;
	height: 450px;
	float:left;
	background-color:#fcfcfc;
}
#footer{
	width: 100%;
	height: 65px;
	text-align: center;
	background-color:#e0e0e0;
	float:left;
}
